
<h1>Log in</h1>

<%= form_for :user do |f| %>
  <%=f.label "Username" %>
  <%=f.text_field :username %>
  <%=f.label "Password" %>
  <%=f.password_field :password %>

  <%=f.submit "Login" %>


<%end%>