
<br>
<br>
<h1>Welcome <%=@user.first_name%></h1>
<br>



<!-- <p>Show all books with notes underneath here, and make sure you have the logout button within the navbar, also, want to have a button such as to add a book, and to add a note to the book right after the note, also want to make sure to add a error message<p> -->
<% @books.each do |book| %>
<br>
<ul>

<h3><%= link_to book.title, book_path(book) %> - <%= book.author_first_name %> <%= book.author_last_name %><br><br></h3>

<% book.notes.each do |note| %>

<ul><p><%= note.summary %></p></ul>

<%end%>
<br>

<!-- display the last note submitted -->

</ul>
<% end %>

<!-- may want to display a search bar here., could displat the description of the book and add it within the new book form and the table and validation in the models as well, -->
<!-- when i add a new book, add flash[:message] Successfully Added -->