
<br>
<br>
<h1>Welcome <%=@user.first_name%></h1>
<br>
<br>


<%= form_tag("/books", method: :get) do %>
Search By Title: 
<br>
<br>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag 'Search', :class => "btn"%>
<% end %>






<!-- <p>Show all books with notes underneath here, and make sure you have the logout button within the navbar, also, want to have a button such as to add a book, and to add a note to the book right after the note, also want to make sure to add a error message<p> -->
<br>
<br>

<% @books.each do |book| %>
<br>
<ul>

<h3><%= link_to book.title, book_path(book) %> - <%= book.author_first_name %> <%= book.author_last_name %><br><br></h3>

<% book.notes.each do |note| %>

<ul><p><%= note.summary %></p></ul>

<%end%>
<br>

<!-- display the last note submitted -->

</ul>
<% end %>

<!-- when i add a new book, add flash[:message] Successfully Added -->