<h1>Let's add a new book</h1>

<%= form_for @book do |f| %>
<%= f.label "Title" %>
<%= f.text_field :title%>

<%= f.label "Author's First Name" %>
<%= f.text_field :author_first_name %>

<%= f.label "Author's Last Name" %>
<%= f.text_field :author_last_name %>

<%= f.submit "Submit Book" %>

<!-- fields_for @notes, we want to make sure to add notes on the book -->

<% end %>






