
<br>

<h1>Let's Add A New Book</h1>
<br>
<%= form_for @book do |f| %>
<%= f.label "Title" %>
<%= f.text_field :title, :placeholder => "Enter Book Title"%><br><br>

<%= f.label "Author's First Name" %>
<%= f.text_field :author_first_name, :placeholder => "Enter Author's First Name"%><br><br>

<%= f.label "Author's Last Name" %>
<%= f.text_field :author_last_name, :placeholder => "Enter Author's Last Name" %><br><br>

<%= f.label "Page Number" %>
<%= f.fields_for :notes do |n| %>
    <%= n.text_field :page_number, :placeholder => "Enter Page Number" %><br><br>
    <%= n.label "Summary" %>
    <%= n.text_area :summary, :placeholder => "Enter Summary..." %><br><br>
    <%end%>

<%= f.submit "Submit Book", :class => 'btn' %>

<!-- fields_for @notes, we want to make sure to add notes on the book -->

<!-- have to add a hidden field relating the book to the user -->

<% end %>






