

<br>
<h3><%= @book.title %> - <%= @book.author_first_name%> <%=@book.author_last_name%></h3>

<% @book.notes.each do |note| %>
<%= note.summary %>
<%end%>

<%= link_to "Edit Book", edit_book_path(@book) %> 
<%= link_to "Add Note", new_note_path%>

display the note of the book, and relationship to that book

<%= link_to "Delete Book", @book, method: :delete, data: { confirm: "Really?" } %>