Here we want to display the book title, and the notes that were given

<br>
<h3><%= @book.title %> - <%= @book.author_first_name%> <%=@book.author_last_name%></h3>

<% @book.notes.each do |note| %>
<%= note.summary %>
<%end%>

<%= link_to "Edit Book", edit_user_book_path(@book) %>


<%= link_to "Delete", user_books_path(@book.user_id), method: :delete, data: { confirm: "Really?" } %>

<%= link_to "Add a note", new_note_path(@book)%>