<!DOCTYPE html>
<html>
  <head>
    <title>RubyOnRailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <!-- <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag "https://code.jquery.com/jquery-3.5.1.slim.min.js" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"  %>
    <%= javascript_include_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" %>  -->
    <link rel="stylesheet" href="/stylesheets/main.css" />
   
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">

  <% if current_user %>
    <div>
      <h4><span><%=link_to 'All Books', books_path%></span></h4>
      <h4><span><%=link_to 'New Book', new_book_path%></span></h4>
      <h4><span><%=link_to "Logout", logout_path, method: :delete, data: {confirm: "Really?" } %></span></h4>
    </div>
    <%end%>

    <%= yield %>
    </div>
  </body>
</html>
