<!DOCTYPE html>
<html>
  <head>
    <title>RubyOnRailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
    <div>
      <span><%=link_to 'All Books', books_path%></span>
      <span><%=link_to 'New Book', new_book_path%></span>
      <span><%=link_to "Logout", logout_path %></span>
    </div>
    <%end%>

    <%= yield %>
  </body>
</html>
